body { 
	background-color: #eee; 
	padding: 1em; 
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

h2 {
	padding-top: 1.5em;
	border-bottom: 1px dotted gainsboro;
}

code { 
	background-color: #aaa; 
	border-radius: 0.4em; 
	padding: 0 0.3em; 
	font-family: Consolas, monospace; 
}

pre { 
	background-color: black; 
	padding: 1em 1em 0 1em; 
	border-radius: 0.4em; 
	font-family: Consolas, monospace; 
	overflow-x: auto; 
}

pre code { 
	padding: 0;
}

table { 
	border: 1px solid gainsboro; 
}

tr:nth-child(even) { 
	background-color: gainsboro; 
}

td,th { 
	padding: 0.5em 
}

th { 
	text-align: left; 
	font-weight: bold; 
	color: white; 
	background-color: #777; 
}