html { 
    background-color: #101530;
}
body { 
	background-color: #fff; 
	padding: 1em; 
	font-family: Helvetica Neue, Helvetica, Segoe UI, Arial, sans-serif;
    max-width: 900px;
    margin: auto;
}

select {
    max-width: 100%;
}

h2 {
	padding-top: 1.5em;
	border-bottom: 1px dotted gainsboro;
}

code { 
	background-color: rgba(0,0,0,0.04); 
	border-radius: 0.4em; 
	padding: 0 0.3em; 
}

pre { 
	background-color: #101530; 
	color: white;
	padding: 1em; 
	border-radius: 0.4em; 
	font-family: Consolas, monospace; 
	overflow-x: auto; 
	font-size: 85%;
}

pre code .monaco-markdown { 
	font-family: Consolas, monospace;
}

kbd {
    display: inline-block;
    padding: 3px 5px;
    font-size: 11px;
    line-height: 10px;
    color: #555;
    vertical-align: middle;
    background-color: #fcfcfc;
    border: solid 1px #ccc;
    border-bottom-color: #bbb;
    border-radius: 3px;
    box-shadow: inset 0px -1px 0px #bbb;
}

table { 
	border: 1px solid rgba(0,0,0,0.04); 
	border-collapse: collapse;
	border-spacing: 0; 
}

tr:nth-child(even) { 
	background-color: rgba(0,0,0,0.04); 
}

td,th { 
	margin: 0;
	padding: 0.5em;
	border: 1px solid rgba(0,0,0,0.04);
}

th { 
	text-align: center; 
	font-weight: bold; 
	color: black; 
	background-color: white; 
}

.token.comment, .hljs-comment {
	color: lightgreen;
}

.token.string, .hljs-string {
	color: #ff6200;
}

.token.keyword, .hljs-keyword {
	color: deepskyblue;
}

.token.number, .hljs-number {
	color: orange;
}

.token.identifier, .hljs-name, .hljs-tag {
	color: lightsteelblue;
}